doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='../../styles/css/bootstrap.min.css')
    link(rel='stylesheet', href='../../styles/css/index.css')
    script(src='../../../vendor/require/require.js' data-main='../../main.js')
    title Zhang Fan's Blog
  body
    include header
    include footer